---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import Skills from '@/components/Skills.astro';
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import Projects from '@/components/Projects.astro';
import KeyboardManagement from '@/components/KeyboardManagement.astro';
---

<Layout title="Minimalist Porfolio">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManagement />
</Layout>

<style>

</style>
